.card-yellowfile-form {
    color: black;
}

.yellowfile-header-form {
    color: gray;
}

.padding-group-group {
    padding: 0 2em 0 2em;
}

.table-responsive {
    max-width: 120em;
    max-height: 50em;
    overflow: scroll;
}

td {
    white-space: nowrap;
}