body {
  background: #343a40;
}

con-footer {
  background: #343a40;
}

input, label, select {
  display: block;
}

.eolCheck, .showAllCheck {
  display: inline;
}

.nopadding {
  padding: 0 !important;
  /* margin: 0 !important; */
}

.btnDel {
  color: gray;
}

.datasearch {
  padding-left: 0%;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: showing;
}


